@import "./styles/App.css";
@import "./styles/Menu.css";
@import "./styles/Main.css";
@import "./styles/Home.css";
@import "./styles/Work.css";
@import "./styles/JobPlus.css";
@import "./styles/Delivery4You.css";
@import "./styles/Around.css";
@import "./styles/Starlink.css";
@import "./styles/Tinnews.css";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
